/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
#perguntaText {
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.image {
    margin: auto;
    width: 100%; /* for IE 6 */
    position: relative;

}

.brightness {-webkit-filter: brightness(70%);filter: brightness(70%);}


.img {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 7px;
}
#imageLocal {
    margin: auto;
    width: 100%; /* for IE 6 */
    position: relative;
}

#vote{
    position: relative;
    top: -17px;
}

#headerText {
    color: #fffbdc;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 25%;
    width: 100%;

}

#primeiraPergunta{
    position: absolute;
    top: 61%;
    left: 42.75%;
}

#segundaPergunta{
    position: absolute;
    top: 75%;
    left: 44.5%;
}

.second {
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1dbcd;

}

#buscar{
    position: absolute;
    top: 93%;
    left: 40%;
    height: 10%;
    width: 10%;
    color: #10CE88;
}

.gigante {
    width: 200%;
    height: 100%;
    font-size: 600px;
    border-radius: 12px;
}

select {
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1eae6;
}

input[type=number] {
    background-color: #f1dbcd;
    padding: 11px 13px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

input[type=number]:focus {
    background-color: #f8f9f0;
    border-radius: 10px;
    border: 3px solid #feeae0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}